.jj {
  max-width: 550px;
  margin: 10% 10% 10% 30%;
}

.ii {
  margin: 7%;
  margin-top: 13%;
}

.btt {
  margin-left: 7%;
  margin-right: 2%;
  margin-bottom: 5%;
}

#drop {
  display: none;
}

.bb {
  margin: 2%;
}

.share {
  margin-top: 45%;
}

#share-btn {
  display: none;
}
